<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eComer">

    <!-- Listeners phải đặt ở đây, trong <suite> -->
    <listeners>
        <listener class-name="commons.MethodListener"></listener>
        <listener class-name="reportConfigs.AllureListener"></listener>
    </listeners>

    <parameter name="EcomSite" value="https://automationexercise.com"></parameter>
    <parameter name="BackOfficeSite" value="https://testing.qa.prod.self-point.com/backend/?domain=eliy.sites.self-point.com#!/login"></parameter>

    <!-- Test chạy trên Chrome -->
    <test name="Run on Chrome Browser">
        <parameter name="Browser" value="Chrome"></parameter>
<!--        <classes>-->
<!--            <class name="TestCase.Ecom_TC15_PlaceOrder_LoginBeforeCheckOut"/>-->
<!--&lt;!&ndash;            <class name="TestCase.Ecom_TC06_SwitchPageByDynamicLocator"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="TestCase.Ecom_TC07_UploadFileByDynamiclocator"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="TestCase.Ecom_TC09_VerifySeachProduct"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="TestCase.Ecom_TC10_VerifySubscriptionInHomePage"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="TestCase.Ecom_TC11_AddProductInCart"/>&ndash;&gt;-->


<!--        </classes>-->
<!--        <packages>-->
<!--            <package name="TestCase"/>-->
<!--        </packages>-->
    </test>

    <test name="Run on FireFox Browser">
        <parameter name="Browser" value="FireFox"></parameter>
                <classes>
                    <class name="TestCase.Ecom_TC15_PlaceOrder_LoginBeforeCheckOut"/>



                </classes>
<!--        <packages>-->
<!--            <package name="TestCase"/>-->
<!--        </packages>-->
    </test>




</suite>

