<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eComer">

    <!-- Listeners phải đặt ở đây, trong <suite> -->
    <listeners>
        <listener class-name="commons.MethodListener"></listener>
        <listener class-name="reportConfigs.AllureListener"></listener>
    </listeners>

    <parameter name="EcomSite" value="https://automationexercise.com/login"></parameter>
    <parameter name="BackOfficeSite" value="https://testing.qa.prod.self-point.com/backend/?domain=eliy.sites.self-point.com#!/login"></parameter>

    <!-- Test chạy trên Chrome -->
    <test name="Run on Chrome Browser">
        <parameter name="Browser" value="Chrome"></parameter>
        <classes>
            <class name="Ecom_TC11_AddProductInCart"/>
            <class name="Ecom_TC07_UploadFileByDynamiclocator"/>
            <class name="Ecom_TC09_VerifySeachProduct"/>
            <class name="Ecom_TC10_VerifySubscriptionInHomePage"/>


        </classes>
    </test>



</suite>

